.box {
    height: 300px;
    width: 300px;
    background-color: #11c5c6;
  }
  
 .box p {
    height: 75%;
    width: 75%;
    background-color: #fbdd1c;
  }

  .padding p {
    border: 4px solid #00a2c6;
    width: 350px;
  }
  
  p.example {
    padding: 10px;
  }

  .kotak {
    width: 50%;
    border: 4px solid darkblue;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .kotak.center {
    margin: 0 auto;
  }